
.mark-city, .rives, .map {
  position: absolute;
}
.map {
  left: 71px;
  top: 38px;
  transform: rotate(0.5deg);
}
.nuclear, .fossil_hard_coal, .fossil_gas, .hydraulics, .tidal, .fossil_oil, .offshore, .biomass {
  border-radius: 50%;
  &.circle-54 {
    width: 66px;
    height: 66px;
  }
  &.circle-40 {
    width: 52px;
    height: 52px;
  }
  &.circle-34 {
    width: 46px;
    height: 46px;
  }
  &.circle-20 {
    width: 32px;
    height: 32px;
  }
}
.chips-nuclear {
  color: #FFE18E;
}
.nuclear {
  border: 6px solid #FFE18E;
  &.flamanville {
    left: 201px;
    top: 152.3px;
  }  
  &.civaux {
    left: 338px;
    top: 441px;
  }
  &.penly {
    left: 390.3px;
    top: 120.49px;
  }
  &.dampierre {
    left: 459px;
    top: 326px;
  }
  &.golfech {
    left: 339px;
    top: 645px;
  }
  &.blayais {
    left: 250px;
    top: 541px;
  }
  &.cattenom {
    left: 688px;
    top: 186px;
  }
  &.gravelines {
    left: 441.06px;
    top: 25px;
  }
  &.chooz {
    left: 592px;
    top: 118px;
  }
  &.cruas {
    left: 580px;
    top: 608px;
  }
  &.stalban {
    left: 584px;
    top: 543px;
  }
  &.belleville {
    left: 476px;
    top: 354px;
  }
  &.nogent {
    left: 520px;
    top: 263px;
  }
  &.paluel {
    left: 349.3px;
    top: 131.74px;
  }
  &.stlaurent {
    left: 401px;
    top: 330px;
  }
  &.tricastin {
    left: 580px;
    top: 636px;
  }
  &.chinon {
    left: 311px;
    top: 369px;
  }
  &.bugey {
    left: 617px;
    top: 507px;
  }
}
.chips-fossil_hard_coal {
  color: #BFB17D;
}
.fossil_hard_coal {
  border: 6px solid #BFB17D;
  &.saint-avold {
    left: 763px;
    top: 326px;
  }
  &.cordemais {
    left: 232px;
    top: 376.6px;
  }
}
.chips-fossil_gas {
  color: #FFA19B;
}
.fossil_gas {
  border: 6px solid #FFA19B;
  &.amfard {
    left: 351px;
    top: 171px;
  }
  &.blenod {
    left: 703.05px;
    top: 242.91px;
  }
  &.bouchain {
    left: 490.56px;
    top: 82.01px;
  }
  &.combigolfeccg {
    left: 633px;
    top: 703px;
  }
  &.croixdemetz {
    left: 693px;
    top: 259px;
  }
  &.cycofos {
    left: 626px;
    top: 707px;
  }
  &.dk6 {
    left: 483px;
    top: 31px;
  }
  &.gamorant {
    left: 521.78px;
    top: 470.97px;
  }
  &.gennevilliers {
    left: 490px;
    top: 225px;
  }
  &.martiguesponteau {
    left: 641px;
    top: 707px;
  }
  &.pontsursambre{
    left: 542.32px;
    top: 103.48px;
  } 
  &.saint-avold-1 { // EMILE HUCHET
    left: 783px;
    top: 316px;
  }
  &.spem {
    left: 190px;
    top: 358px;
  }
  &.saint-ouen {
    left: 483px;
    top: 232px;
  }
  &.landivisiau {
    left: 110px;
    top: 235px;
  }
}
.chips-hydraulics {
  color: #75C7F5;
}
.hydraulics {
  border: 6px solid #75C7F5;
  &.rhonesud {
    left: 607px;
    top: 624px;
  }
  &.rhonenord {
    left: 647px;
    top: 458px;
  }
  &.rhin {
    left: 776px;
    top: 251px;
  }
  
  &.pyrenees {
    left: 420px;
    top: 745px;
  }
  &.meuse {
    left: 619px;
    top: 167px;
  }
  &.massifcentral {
    left: 474px;
    top: 559px;
  }
  
  &.jura-vosges {
    left: 670px;
    top: 368px;
  }
  &.alpessud {
    left: 716px;
    top: 649px;
  }
  &.alpesnord {
    left: 720px;
    top: 516px;
  }
  // Tarn
  &.tarn {
    top: 249px;
    left: 123px;
  }
  &.tarentaise {
    top: 275px;
    left: 193px;
  }
  &.romanche {
    top: 300px;
    left: 100px;
  }
  &.nord-ouest {
    top: 350px;
    left: 230px;
  }
  &.maurienne {
    top: 322px;
    left: 167px;
  }
  &.lot-truyere {
    top: 235px;
    left: 76px;
  }
  &.loire-vienne {
    top: 200px;
    left: 157px;
  }
  &.garonne-ariege {
    left: 207px;
    top: 218px;
  }
  &.durance-verdon {
    left: 250px;
    top: 302px;
  }
  &.drac {
    left: 268px;
    top: 244px;
  }
  &.dordogne {
    left: 300px;
    top: 281px;
  }
  &.beaufortain {
    left: 300px;
    top: 203px;
  }
  &.basse-isere {
    left: 257px;
    top: 176px;
  }
  &.arve {
    left: 257px;
    top: 121px;
  }
  &.ardeche {
    left: 352px;
    top: 268px;
  }
  &.alpes-maritimes {
    left: 352px;
    top: 219px;
  }
  &.adour-gaves {
    top: 399px;
    left: 243px;
  }
  &.aude-tet {
    top: 338px;
    left: 305px;
  }
}
.chips-tidal {
  color: #A3A5B3;
}
.tidal {
  border: 6px solid #A3A5B3;
  &.rance {
    left: 224px;
    top: 257px;
  }
}
.chips-fossil_oil {
  color: #D5AAFF;
}
.fossil_oil {
  border: 6px solid #D5AAFF;
  &.arrighi {
    left: 532px;
    top: 289px;
  }
  &.brennilis {
    left: 114.13px;
    top: 274.13px;
  }
  &.dirinon {
    left: 103px;
    top: 258px;
  }
  &.montereau {
    left: 520px;
    top: 289px;
  }
  &.vaires {
    left: 514px;
    top: 245px;
  }
}
.chips-offshore {
  color: #39B593;
}
.offshore {
  border: 6px solid #7AF2D2;
  &.saint-nazaire {
    left: 178px;
    top: 345px;
  }
}
.chips-biomass {
  color: #63CF68;
}
.biomass {
  border: 6px solid #63CF68;
  &.provence {
    left: 672px;
    top: 703px;
  }
}
.rive-1 {
  left: 758px;
  top: 207px;
  transform: rotate(-164.8deg);
}
.rive-2 {
  left: 633.25px;
  top: 428px;
}
.rive-3 {
  left: 684.25px;
  top: 471px;
}
.rive-4 {
  left: 403px;
  top: 469.8px;
}
.rive-5 {
  left: 629.95px;
  top: 618.81px;
}
.rive-6 {
  left: 346.66px;
  top: 719.56px;
  transform: rotate(12.84deg);
}